.main-section{
    /* background-image: url(./assets/DSC_0106.png); */
    background-repeat: no-repeat,no-repeat;
    background-position: left;
    background-size: cover;
}
.nav-icon a{
    font-size: 25px;
}
img{
    border-radius: 10px;
}
.nav-icon a i{
    color: black;
}
.nav-icon a:hover{
    background: white;
    border-radius: 10px;
}
.title{
    color: rgb(243, 241, 241);
    font-weight: 500;
}